.btn__return {
    display: flex;
    align-items: center;
    border: 3px solid  rgb(126, 85, 85);
    border-radius: 15px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
}

.btn__return:hover {
    font-size: 17px;
    border: 3px solid rgb(155, 87, 87);
}

.link__return {
    text-decoration: none;
    color: rgb(48, 17, 17);
}

.character__details {
    display: flex;
    transform: scale(1.4);
    margin-right: 100px;
}

.character__photo {
    align-self: center;
    margin-right: 20px;
    height: 227px;
    width: 163px;
}

.character__text {
    align-self: center;
}